__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git
.gitignore
.gemini
tests/
build/
dist/
instantclient/
*.db
*.sqlite3
launcher.py
app_icon.ico
build_app.py
Plesk_Docker_Setup_Guide.md
*.log
